body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0d0d0d;
  color: white;
}

.container {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 300px;
  background: #151515;
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0,0,0,0.5);
}

.sidebar h2 {
  margin-top: 0;
  font-size: 18px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: none;
  background: #222;
  color: white;
}

button {
  width: 100%;
  padding: 10px;
  background: #1e88e5;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #1565c0;
}

/* MAP */
.map-area {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.map-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
